.wrap_detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img_area {
  width: 50%;
  border-radius: 100px;
  overflow: hidden;
}

.img_area img {
  width: 100%;
  height: 100%;
}

.desc {
  padding: 20px;
  background: #000;
  border: 1px solid #ddd;
  border-radius: 20px;
  color: #cacaca;
}
